.bg-light {
  background-color: hotpink !important;
}

.menu-bar-first {
  font-size: small !important;
  white-space: nowrap;
}

.menu-bar-first img {
  width: 4vh !important;
}

.nav-link:focus,
.nav-link:hover {
  color: hotpink;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: hotpink;
  background-color: transparent;
}

#stick-to-top {
  top: 9vh;
  background: white;
}

.navbar-white {
  background-color: white !important;
  background: white;
}

.scroll-bar-item-shadow {
  font-size: small !important;
}
